h1 {
  font-size: 30px;
  color: #009C9A;  
  font-family: normal normal 600 13.5px 'Montserrat';
}
.logo {
  width: 128px;
  margin: 0 180px;  
  align-content: end;
  
}

.DivContent{
  display: flex;  
}

:host{
  background-color: white;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
